<!doctype html>
<html>
<head>
    <title>Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
</head>
<body>
    {% if not username %}
        <meta http-equiv="Refresh" content="0; url='/login'" />
    {% endif %}
    <script>
        const username = '{{ username }}';
    </script>
    <label class="loggedInAs">Logged in as {{ username }}</label>
    <div class="container">
        <div class="messages">
            {% for message in messages %}
                <div class="message">
                    <div class="message-username">{{ message[1] }}</div>
                    <div class="message-content">{{ message[2] }}</div>
                </div>
            {% endfor %}
        </div>
        <form id="sendMessageForm">
            <textarea id="content" name="content" placeholder="Message" class="messageBox" style="resize: none;"></textarea>
            <input type="submit" value="Send" class="submitButton" id="sendButton">
        </form>
    </div>
    {% if username == "tkbstudios" %}
    {% endif %}

</body>
</html>
